.content {
    grid-area: c;
    background-color: aliceblue;
}

.upp img{
    height: 350px;
    width: 100%;
}

.info {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.ava img {
    width: 100px;
    padding-right: 50px;

}

.textInfo {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: bold;
}
