.header {
    grid-area: h;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}


.header img {
    width: 55px;
    padding: 5px 1px 1px 25px;
}

.loginedUser {
    padding: 10px;
    color: white;
}
